In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

df_data = pd.read_csv('./al_data.csv')

# ISO 코드(b_iso)를 기준으로 국가별 정보를 합산
df_sum = df_data.groupby('b_iso').sum()

# ISO 코드를 기반으로 유사한 국가를 추천하는 함수 정의
def recommend_similar_countries(target_iso, top_n=3):
    # 해당 ISO 코드의 인덱스 가져오기
    index = df_sum.index.get_loc(target_iso)
    
    # 해당 ISO 코드와 다른 국가들 간의 코사인 유사도 계산
    similarities = cosine_similarity(df_sum.values[index:index+1], df_sum.values)[0]
    
    # 유사도가 높은 순서로 정렬하여 top_n개의 인덱스 추출 (자기 자신은 제외)
    similar_indices = similarities.argsort()[-top_n-1:-1][::-1]
    
    # 추천할 국가들의 ISO 코드 반환
    recommended_countries = df_sum.iloc[similar_indices].index.tolist()
    
    return recommended_countries

target_iso = 'NL'
recommended_countries = recommend_similar_countries(target_iso, top_n=3)

print(f"{target_iso}를 기준으로 유사한 국가 추천:", recommended_countries)

NL를 기준으로 유사한 국가 추천: ['IE', 'MT', 'MX']

In [12]:
import pandas as pd

# cp949 인코딩으로 파일 읽기
df = pd.read_csv("countries.csv", encoding='cp949')

# utf-8 인코딩으로 파일 저장
df.to_csv("countries_utf8.csv", encoding='utf-8', index=False)

    Country ISO Code
0      과테말라       GT
1      그레나다       GD
2       그리스       GR
3     나이지리아       NG
4      네덜란드       NL
..      ...      ...
113     핀란드       FI
114     필리핀       PH
115     헝가리       HU
116      호주       AU
117      홍콩       HK

[118 rows x 2 columns]